@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}
.highlight {
  color: #ff008e;
}
.primary-button {
  outline: 0;
  border: 0;
  padding: 15px 20px;
  background-image: linear-gradient(90deg, #ff008e, #e72891);
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 7px 0 #a00c5d;
  position: relative;
  top: 0;
}
.primary-button:active {
  top: 5px;
  box-shadow: 0 1px 0 #a00c5d;
}
.section-title {
  text-align: center;
}
.section-title h2 {
  font-size: 40px;
  display: inline-block;
  text-transform: uppercase;
  border-bottom: 2px solid #ff008e;
  margin: 50px 0;
}
header {
  background-image: url(./images/cloud.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.navigation {
  display: flex;
}
.navigation li {
  list-style: none;
  margin: 20px;
}
.navigation a {
  text-decoration: none;
  color: white;
  padding: 5px;
}
.banner {
  height: calc(100vh - 80px);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.left-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.left-banner h1 {
  font-size: 45px;
  color: #fff;
}
.left-banner p {
  margin: 20px 0;
  color: #fff;
  line-height: 1.3;
}
.right-banner {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.right-banner img {
  width: 100%;
}

/* feature css style */
.feature {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
}
.card {
  width: 300px;
  padding: 30px;
  margin: 0 auto;
  box-shadow: 0 30px 35px rgba(0, 0, 0, 0.2);
}
.card .card-icon {
  background-color: #ff008e;
  width: 30px;
  height: 30px;
  padding: 15px;
  border-radius: 50%;
}
.card h3 {
  color: #ff008e;
  font-size: 25px;
}
.card p {
  margin: 10px 0;
  line-height: 1.5;
}
.card a {
  text-decoration: none;
  color: #db559f;
}
/* gallery css */
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.photo img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* contact css*/
.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.left-contact img {
  width: 100%;
}
.right-contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-field {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-size: 18px;
  font-family: inherit;
  outline: 0;
  border: 1px solid #ff008e;
}
textarea {
  resize: none;
}
footer {
  margin-top: 30px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* nav-toggler */
#nav-toggler {
  display: none;
}
.nav-bar-toggler {
  display: none;
  color: #fff;
  font-size: 30px;
}

/* media query */
@media only screen and (max-width: 950px) {
  .left-banner h1 {
    font-size: 40px;
  }
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 800px) {
  .banner {
    grid-template-columns: repeat(1, 1fr);
    height: fit-content;
  }
  .left-banner {
    order: 2;
    padding: 50px 0;
  }
  .feature,
  .gallery,
  .contact {
    grid-template-columns: repeat(1, 1fr);
  }
  .photo {
    text-align: center;
  }
  .photo img {
    width: 350px;
  }
  .nav-bar-toggler {
    display: block;
  }
  .navigation {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    transform: translateY(-380px);
    transition: 0.7s ease-in-out;
  }
  .navigation li a {
    color: black;
    font-weight: bold;
  }
  #nav-toggler:checked ~ .navigation {
    transform: translateY(0);
  }
}
